#section{
    padding:0;
}
#section>div:first-child>p>a{
    /*导航*/
    text-decoration:none;
    color:#333333;
}
#section div.row{
    margin:0;
}
#section div.m-point{/*被放大区域*/
    width:45%;
    height:45%;
    background: #fff;
    border:1px solid #DEE2E6;
    opacity:0.4;
    top:0;
    left:0;
}
#section div.mask{/*要放大图上面的透明图层*/
    width:100%;
    height:100%;
    opacity:0;
    top:0;
    left:0;
}
#section div.enlarged-image{/*右侧放大图*/
    width:100%;
    height:400px;
    border:1px solid #DEE2E6;
    overflow:hidden;
    top:0;
    left:0;
    background: #fff;
}
#section div.enlarged-image>img{
    position:absolute;
    top:0;
    left:0;
}
#section button.zoom-btn-prev,#section button.zoom-btn-next{
    border:none;
    outline: 0;
    width:10%;
    background: transparent;
}
#section button.zoom-btn-prev,#section button.zoom-btn-next:hover{
    cursor:pointer;
}
#section button.zoom-btn-prev>span,#section button.zoom-btn-next>span{
    display:inline-block;
    width:0;
    height:0;
    border:5px solid transparent;
}
#section button.zoom-btn-prev>span{
    border-right-color:#999;
}
#section button.zoom-btn-next>span{
    border-left-color:#999;
}
#section>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div{
    overflow:hidden;
    height:80px;
    width:80%;
}
#section>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div>ul{
    height:100%;
    margin:0px;
    transition-duration:0.5s;
}
#section>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div>ul>li{
    width:75px;
    padding:10px;
}
#section>div:first-child>div:nth-child(2)>div:first-child>div:nth-child(2)>div>ul>li img{
    border:1px solid #c3c3c3;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child p,#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child ul{
    margin:0px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>p:first-child{
    /*第一行标题*/
    font-size:1rem;
    font-weight:bold;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>p:nth-child(2){
    /*第二行价位*/
    font-size:0.9rem;
    color:#A59999;
    margin:10px 0;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>p:nth-child(2)>span{
    color:#D10000;
    font-size:2rem;
    margin:0 20px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(3){
    border-top:1px dashed #CCCCCC;
    border-bottom:1px dashed #CCCCCC;
    padding:5px 0;
    margin-bottom:10px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(3)>p>span{
    color:#D10000;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(4){
    font-size:0.8rem;
    margin-bottom:10px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(4)>p{
    display:inline-block;
    border:1px solid #000;
    margin-left:20px;
    padding:2px 3px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(4)>p.active{
    border-color:#D10000;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(4)>p:hover{
    cursor:pointer;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(5){
    margin-top:20px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(5)>button{
    margin-right:20px;
    border-radius:5px;
    outline:0;
    border:1px solid #fff;
    width:169px;
    height:47px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(5)>button:hover{
    cursor:pointer;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(5)>button:first-child{
    background-image:url("../images/details/yuyue-img.jpg")
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(5)>button:last-child{
    background-image:url("../images/details/buy-click.jpg")
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(6),#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(7){
    color:#999999;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(6){
    padding-bottom:10px;
    border-bottom:1px dashed #999;
    margin-bottom:10px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(6)>p>span{
    color:#000;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(7)>p{
    color:#000;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(7)>ul>li>span{
    display:inline-block;
    border:5px solid #999;
    border-radius: 50%;
    margin-right:2px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(2)>div:first-child>div:nth-child(7)>ul>li{
    margin-right:10px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div{
    text-align:center;
    background: #F2F2F2;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div>ul{
    padding:0 10px;
    overflow:auto;
    max-height:213px;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div>ul>li>a{
    color:#333;
    text-decoration: none;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div>ul>li>a:hover{
    color:#b21f2d;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div>p:first-child{
    font-weight:bold;
    font-size:0.8rem;
}
#section>div:first-child>div:nth-child(2)>div:nth-child(3)>div>p:nth-child(2){
    color:#666666;
}
#section>div:nth-child(2){
    border:1px solid #cacaca;
    padding:0 10px 5px;
}
#section>div:nth-child(2)>div:first-child{
    text-align:center;
}
#section>div:nth-child(2)>div:first-child img{
    width:140px;
    vertical-align:middle;
}
#section>div:nth-child(2)>div:first-child>p{
    padding-top:10px;
}
#section>div:nth-child(2)>div:nth-child(2){
    margin:0 10px;
}
#section>div:nth-child(2)>div:nth-child(3){
    flex-grow:1;
}
#section>div:nth-child(2)>div:nth-child(3)>ul>li{
    padding:10px 10px 0;
    border-top:2px solid transparent;
}
#section>div:nth-child(2)>div:nth-child(3)>ul>li.active{
    border-top-color:#b21f2d;
    color:#b21f2d;
}
#section>div:nth-child(2)>div:nth-child(3)>ul>li>a{
    color:#333;
    font-weight:bold;
    text-decoration: none;
}
#section>div:nth-child(2)>div:nth-child(3)>ul>li>a.active{
    color:#b21f2d;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:first-child>img{
    width:140px;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:first-child>img+p{
   padding-top:10px;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:first-child>del,#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(2)>span:first-child{
    font-size:1.1rem;
    margin-right:10px;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(2)>span:first-child{
    color:#b21f2d;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p>button{
    padding:5px 15px;
    border:1px solid #b21f2d;
    outline: none;
    margin-right:10px;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p>button:hover{
    cursor:pointer;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(3)>button{
    background: #fff;
    color:#b21f2d;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(4)>button{
    background: #b21f2d;
    color:#fff;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p>a{
    text-decoration: none;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(3)>a{
    color:#333;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(3)>a:hover{
    color:#b21f2d;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(4)>a{
    color:#82757D;
}
#section>div:nth-child(2)>div:nth-child(3)>div>div:nth-child(2)>p:nth-child(4)>a>span{
    color:#333;
    font-weight:bold;
}
#section>div:nth-child(3)>div:first-child{
    width:190px;
}
#section>div:nth-child(3)>div:first-child>div:first-child{
    background: #F7F7F7;
    height:470px;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:first-child>div:not(:nth-child(2)){
    flex-grow: 1;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div>div{
    color:#9A9A9A;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div>div>hr{
    border-top:1px solid #9A9A9A;
    margin-bottom:0;
    margin-top:0.6rem;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(2)>img{
    /*看了又看图片*/
    width:122px;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(3){
    margin-top:230px;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(3)>div{
    width:30px;
    height:30px;
    background:url(../images/details/detail-24-151.png) no-repeat;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(3)>div:last-child{
    background-position:0 -30px;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(3)>div:first-child:hover{
    background-position:0 -61px;
}
#section>div:nth-child(3)>div:first-child>div:first-child>div:nth-child(3)>div:last-child:hover{
    background-position:0 -93px;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:first-child{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:first-child>p{
    flex-grow:1;
    text-align:center;
    background: #F7F7F7;
    border-bottom:1px solid #ccc;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:first-child>p.active{
    border-bottom-color:transparent;
    background: #fff;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:first-child>p:first-child{
    border-right:1px solid #ccc;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:nth-child(2)>div{
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:5px;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:nth-child(2)>div>div>div:first-child{
    width:120px;
    height:1.2rem;
    overflow:hidden;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:nth-child(2)>div>div>div:first-child>a{
    text-decoration: none;
    width:200px;
    height:100%;
    color:#323232;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:nth-child(2)>div>div>div:nth-child(2)>img{
    width:130px;
    border:1px solid #ddd;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(2)>div:nth-child(2)>div>div>div:last-child{
    color:#b21f2d;
    font-weight:bold;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(3){
    background: #FCFBFB;
    border:1px solid #ddd;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(3)>div:first-child{
    font-size:0.8rem;
    font-weight:bold;
    color:#666666;
    border-bottom:1px solid #ddd;
    padding-bottom:0.5rem;
    margin-bottom:1rem;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(3)>div:nth-child(2)>div{
    color:#b21f2d;
    font-weight:bold;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4),#section>div:nth-child(3)>div:first-child>div:nth-child(5){
    border:1px solid #ddd;
    margin-top:10px;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4)>div,#section>div:nth-child(3)>div:first-child>div:nth-child(5)>div{
    color:#666;
    font-weight:bold;
    font-size:0.8rem;
    padding-bottom:0.5rem;
    border-bottom:1px solid #ddd;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4)>ul,#section>div:nth-child(3)>div:first-child>div:nth-child(5)>ul{
    width:100%;
    overflow:hidden;
    margin:10px 0 5px 0;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4)>ul>li,#section>div:nth-child(3)>div:first-child>div:nth-child(5)>ul>li{
    width:260px;
    margin:5px 0;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4)>ul>li>a,#section>div:nth-child(3)>div:first-child>div:nth-child(5)>ul>li>a{
    text-decoration: none;
    color:#666;
}
#section>div:nth-child(3)>div:first-child>div:nth-child(4)>ul>li>a:hover,#section>div:nth-child(3)>div:first-child>div:nth-child(5)>ul>li>a:hover{
    color:#b21f2d;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child{
    border:1px solid #CACACA;
    background: #fff;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:first-child>ul>li{
    padding:8px 20px;
    text-align:center;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:first-child>ul>li:not(:last-child){
    border-right:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:first-child>ul>li>a{
    font-size:1rem;
    font-weight:bold;
    color:#333;
    text-decoration: none;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:first-child>ul>li>a>span{
    color:#4F28AA;
    font-weight:normal;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:nth-child(2)>span{
    color:#b21f2d;
    font-weight:bold;
    font-size:1rem;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:nth-child(2)>button{
    border:none;
    outline:none;
    height:100%;
    padding:5px 20px;
    background: #b21f2d;
    color:#fff;
    font-size:1rem;
    font-weight:bold;
}
#section>div:nth-child(3)>div:nth-child(2)>div:first-child>div:nth-child(2)>button:hover{
    cursor:pointer;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(2){
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom:1px solid #CACACA;
    padding:20px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div:first-child>div{
    margin-bottom:5px;
    margin-right:40px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div:first-child>div>div:first-child{
    background: #F9F9F9;
    width:160px;
    padding:10px 40px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div:first-child>div>div:last-child{
    width:80px;
    padding:10px 0 10px 5px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>p{
    font-size:0.8rem;
    color:#333;
    padding-left:20px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(3){
    padding:20px;
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(3)>h5{
    margin-bottom:20px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4){
    padding:20px 0;
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div{
    flex-grow:1;
    padding:0 10px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:not(:last-child){
    border-right:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:first-child>div{
    color:#E26500;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:first-child>div:first-child{
    font-size:2rem;
    font-weight:bold;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(2)>div>div{
    font-size:0.8rem;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(2)>div>div:nth-child(2){
    width:10rem;
    height:0.8rem;
    background: #E26500;
    border:2px solid #ddd;
    margin:0 5px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(2)>div:not(:first-child)>div:nth-child(2){
    background: #fff;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(3){
    width:250px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(3)>p{
    font-size:0.8rem;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(3)>p>span{
    color:#005AA0;
    display:inline-block;
    padding:0 10px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(4)>div>a{
    padding:2px 35px;
    background: #F1F2F6;
    text-decoration: none;
    color:#999999;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(4)>img{
    margin:10px 0 15px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(4)>img:hover{
    cursor:pointer;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div:nth-child(4)>p{
    color:#999;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5){
    border-top:1px solid #CACACA;
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child{
    background: #F9F9F9;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child a{
    color:#333333;
    text-decoration: none;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child a:hover{
    color:#b21f2d;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child>ul>li{
    padding:10px 20px;
    border-right:1px solid #CACACA;
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child>ul>li.active{
    border-bottom-color:#fff;
    background: #fff;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child>div>a{
    display:inline-block;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:first-child>div{
    flex-grow:1;
    text-align:right;
    border-bottom:1px solid #CACACA;
    padding:10px 30px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div{
    padding:20px;
    display:none;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div.active{
    display:block;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div>div.content-item{
    border:1px solid #CACACA;
    margin-bottom:10px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div>div.content-item>div:first-child{
    border-right:1px solid #CACACA;
    background: #F8F8F8;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div>div.content-item>div:nth-child(2){
    font-size:0.8rem;
    color:#666;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div:nth-child(4)>div{
    padding:2px 8px;
    margin-right:5px;
    color:#666;
    border:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div:nth-child(4)>div:hover{
    border-color:#b21f2d;
    cursor:pointer;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div:nth-child(2)>div:nth-child(4)>div.active{
    background: #b21f2d;
    color:#fff;
    border-color:#b21f2d;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6){
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:first-child>div:first-child{
    background: #fff;
    border-top:2px solid #b21f2d;
    border-right:1px solid #CACACA;
    padding:10px 20px;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:first-child>div:nth-child(2){
    flex-grow:1;
    border-top:1px solid #CACACA;
    padding-right:10px;
    background: #F6F6F6;
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:first-child>div:nth-child(2)>a{
    text-decoration:none;
    color:#333;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:first-child>div:nth-child(2)>a>span{
    color:#b21f2d;
    font-weight:bold;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:first-child>div:nth-child(2)>a:hover{
    color:#b21f2d;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:nth-child(2)>div.row:not(:last-child){
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:nth-child(2)>div.row>div:not(:last-child){
    border-right:1px dashed #CACACA;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:nth-child(2)>div.row>div:first-child>div:first-child.active{
    background:#484848;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:nth-child(2)>div.row>div:first-child>div:first-child{
    width:25%;
    height:54px;
    background:#b21f2d;
    text-align:center;
    padding:5px 10px;
    color:#fff;
}
#section>div:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div:nth-child(2)>div.row>div:first-child>div:nth-child(2){
    width:75%;
}
#section>div:nth-child(4){
    position:fixed;
    top:38%;
}
#section>div:nth-child(4)>div{
    width:50px;
    height:50px;
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-top:1px solid #CACACA;
}
#section>div:nth-child(4)>div:hover{
    cursor:pointer;
}
#section>div:nth-child(4)>div:last-child{
    border-bottom:1px solid #CACACA;
}
#section>div:nth-child(4)>div:first-child{
    color:#000;
}
#section>div:nth-child(4)>div:first-child:hover{
    color:#fff;
    background: #b21f2d;
}
#section>div:nth-child(5){
    width:150px;
    height:150px;
    position:fixed;
    top:48%;
}
#section>div:nth-child(5)>div{
    text-align:center;
    font-size:1rem;
    border-top:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom:1px solid #CACACA;
    display:none;
}
#section>div:nth-child(5)>div.active{
    display:block;
}