.container>div:not(:first-child) a{
    color:#969696;
}
.container>div:not(:first-child) a:hover{
    color:#B81C2B;
    text-decoration:none;
}
/*第一行*/
.container>div:first-child{
    background: #f6f6f6;
    font-size:0.7rem;
}
.container>div:first-child>ul{
    height:155px;
    padding-top:35px;
    padding-bottom:35px;
}
.container>div:first-child>ul>li{
    text-align:center;
    width:14.28%;
}
.container>div:first-child>ul>li:not(:last-child){
    border-right:1px solid #ddd;
}
.container>div:first-child>ul>li>img+p{
    margin:0px;
    margin-top:15px;
}
.container>div:first-child>ul>li>p:nth-child(3){
    color:#ccc;
}
/*第二行*/
.container>div:nth-child(2)>ul{
    list-style-type:none;
    min-width:14.28%;
}
.container>div:nth-child(2)>ul{
    padding:0px 20px 0 25px;
    float:left;
}
.container>div:nth-child(2)>ul>li{
    text-align:left;
}
.container>div:nth-child(2)>ul:not(:last-child){
    border-right:1px solid #ccc;
}
.container>div:nth-child(2)>ul:last-child>li:not(:first-child){
    padding-right:2px;
    float:left;
}

/*第三行*/