.bg-ca{
    background-image:url("../../images/index/ca-1.jpg");
    background-size:cover;
    background-position: center;
 }
/********************************************列表******************************************************/
#section{
    position:relative;
}
#section>ul:first-child{
    width:198px;
    float:left;
    background-color:#ffffff;
    opacity:0.9;
}
#section>ul:first-child>li{
    height:49px;
    border:1px solid #ccc;
    line-height:49px;
}
#section>ul:first-child>li>div:first-child{
    width:40px;
    margin-left:20px;
}
#section>ul:first-child>li>div:nth-child(3){
    width:40px;
    text-align:right;
}
#section>ul:first-child>li>div:last-child>img{
    width:15px;
}
#section>ul:first-child>li>div:nth-child(2){
    width:70px;
}
#section>ul:first-child>li:not(:last-child){
    border-bottom:0;
}
#section>ul:first-child>li>div>a{
    text-decoration:none;
    color:#0b2e13;
    padding-left:10px;
}
#section>ul:first-child>li>a:hover{
    color:#B91C2B;
}
/***************************************内容显示区域***************************************/
#section>div:nth-child(2){
    height:490px;
    width:70%;
    float:left;
    position:relative;
    left:-1px;
    display:none;
}
#section>div:nth-child(2)>div{
    border:1px solid #B91C2B;
    border-left:0;
    height:100%;
    width:100%;
    background-color: #fff;
    opacity:0.9;
}
/*内容中每一行*/
#section>div:nth-child(2)>div>div>div{
    border-bottom:1px solid #ccc;
    width:85%;
    margin-left:10px;
}
/*清除每行中浮动的影响*/
#section>div:nth-child(2)>div>div>div:after{
    content:"";
    display:block;
    clear:both;
}
/*每行中的标题*/
#section>div:nth-child(2)>div>div>div>div{
    font-weight:bold;
    font-size:0.8rem;
    padding-top:10px;
    text-align:left;
    width:15%;
    float:left;
}
/*每行中的内容部分*/
#section>div:nth-child(2)>div>div>div>ul{
    padding:10px 0;
    width:80%;
    float:left;
    margin:0;
    list-style:none;
}
#section>div:nth-child(2)>div>div>div>ul:after{
    content:"";
    display:block;
    clear:both;
}
/*每行内容部分中的每项*/
#section>div:nth-child(2)>div>div>div>ul>li{
    float:left;
    padding-left:10px;
}
/*每行中a标签的样式*/
#section>div:nth-child(2)>div>div>div>ul>li>a{
    text-decoration:none;
    color:#454545;
}
#section>div:nth-child(2)>div>div>div>ul>li>a:hover{
    color:#B91C2B;
}
/*除第一个div外，每个div最后一行的样式*/
#section>div:nth-child(2)>div>div>div:last-child{
    border:0;
}
#section>div:nth-child(2)>div>div>div:last-child>p>a{
    display:inline-block;
    text-decoration:none;
    margin:10px 0 0 10px;
    height:40px;
    width:110px;
    background-color: #A42A36;
    text-align:center;
    line-height:40px;
    color:#fff;
    font-weight:bold;
}
#section>div:nth-child(2)>div>div>div:last-child>p>a>span{
    display:inline-block;
    margin-left:5px;
    width:0px;
    border:5px solid #A42A36;
    border-left-color:#fff;
}
/***************************************floors***************************************/
#floor{
    margin-top:50px;
}
#floor>div{
    margin-top:50px;
}
/*公有样式：楼层号和名称*/
#floor>div>div:first-child>div:first-child>div{
    background-color: #B81C2B;
    height:35px;
    width:50px;
    transform:skewX(-30deg);
    line-height:35px;
    text-align:center;
}
#floor>div>div:first-child>div:first-child>div>span{
    /*红色背景的楼层号*/
    color:#fff;
    font-size:1.3rem;
    font-weight:bold;
    transform:skewX(30deg);
    padding:0 10px;
}
#floor>div>div:first-child>div>span:last-child{
    /*楼层名称*/
    color:#333;
    font-size:1.3rem;
    margin-left:5px;
}
/*1F*/
#floor>div:first-child>div:nth-child(2)>ul{
    margin-top:20px;
    list-style:none;
}
#floor>div:first-child>div:nth-child(2)>ul:after{
    content:"";
    display:block;
    clear:both;
}
#floor>div:first-child>div:nth-child(2)>ul>li{
    padding-right:15px;
    padding-top:8px;
    float:left;
}
#floor>div:first-child>div:nth-child(2)>ul>li>a{
    text-decoration:none;
    color:#222;
}

#floor>div:first-child>div:nth-child(2)>div>div>div{
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div{
/*每个小div控制*/
    width:24%;
    min-width:266.39px;
    height:170px;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div:after{
    content:"";
    display:block;
    clear:both;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>a{
    text-decoration:none;

}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>a:first-child{
    color: #da1e3a;
    font-size:1rem;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>div{
    height:84px;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>div>p{
    margin:0;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>div>p:first-child{
    margin-top:15px;
}
#floor>div:first-child>div:nth-child(2)>div>div>div>div>a:last-child{
    margin-top:20px;
    padding:3px;
    color:#fff;
    background: #da1e3a;
    text-align:center;
    width:70px;
    float:right;
}
#floor>div:first-child>div:nth-child(2)>div>button{
    display:block;
    margin:-1px auto;
    border:1px solid #DDD;
    border-top:#fff;
    padding:5px 15px 15px 15px;
    background: #fff;
    transition-duration:.5s;
}
#floor>div:first-child>div:nth-child(2)>div>button:hover{
    cursor:pointer;
    background: #ddd;

}